@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Prata', sans-serif;
  
  
}

html {
  background-image: linear-gradient(to right,#232526 , #414345);
}

.coin-app{
  display:flex;
  flex-direction :column;
  align-items :center;
  margin-top:64px;
  color: #a0a0a0;
}

.coin-search{
  margin-bottom:64px;
  display:flex;
  flex-direction :column;
  justify-content: center;
  align-items :center;
}

.coin-text{
  margin-bottom:32px;
  text-align:center;
  color: rgb(233, 233, 233);
}

.coin-input{
  padding-left:16px;
  width:300px;
  height:50px;
  border-radius: 4px;
  border:none;
  background-image: linear-gradient(to right,#ffffff ,#b6b6b6 );
  color: #000000;
}

.coin-input::placeholder{
  color: #000000;
}
 .legend{
   display:flex;
   flex-direction: row;
   padding-left:16px;
   color:rgb(218, 216, 216);
 }

 .leg{
  min-width:210px;
  padding-bottom: 15px;
 }

 .leg-mc{
   padding-left:25px;
 }

 .leg-pc{
  padding-left:8px;
}

.leg-vol{
  padding-left:10px;
}

.leg-price{
  padding-right: 250px;
}

.leg-name{
  padding-left:60px;
}

.leg-sym{
  padding-left:40px;
}




